body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  color: #434455;
  background-color: #ffffff;
}
ul {
  list-style-type: none;
}
h1 {
  font-size: 56px;
  line-height: 1.07;
  color: #ffffff;
}
h2 {
  font-size: 36px;
  color: #2e2f42;
}
h3 {
  font-size: 20px;
  color: #2e2f42;
}
a {
  text-decoration: underline;
}

.header {
}
.header-nav {
}
.header-nav-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 3%;
  text-transform: uppercase;
  color: #4d5ae5;
}
.accent-logo-studio {
  color: #2e2f42;
}
.header-nav-list {
}
.header-nav-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 2%;
  text-decoration: underline;
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: #404bbf;
}
.header-address {
  font-style: normal;
}
.header-address-list {
}
.header-address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  color: #434455;
}
.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}
.main {
}
.main-section {
  background-color: #2e2f42;
}
.page-title {
  text-align: center;
  letter-spacing: 2%;
}
.main-section-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 4%;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
}
.main-section-button:hover,
.main-section-button:focus {
  background-color: #404bbf;
}
.features {
}
.features-title {
}
.features-list {
}
.features-list-title {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 2%;
}
.features-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
}

.ourteam {
  background-color: #f4f4fd;
}
.ourteam-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 2%;
  text-transform: capitalize;
  color: #2e2f42;
}
.ourteam-list {
}
.ourteam-list-item {
  background-color: #ffffff;
}
.ourteam-list-title {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 2%;
}
.urteam-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
}
.portfolio {
}
.portfolio-title {
  line-height: 1.11;
  text-align: center;
  letter-spacing: 2%;
  text-transform: capitalize;
}
.portfolio-list {
  background-color: #e7e9fc;
}
.portfolio-list-title {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 2%;
}
.portfolio-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
}

.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
}
.footer .logo {
  font-family: 'Ralewey', sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 3%;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer .accent-logo-studio {
  font-family: 'Ralewey', sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 3%;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-text {
  line-height: 1.5;
  letter-spacing: 2%;
}
